.mychart .chart-series-line{
    -fx-stroke-width: 2px;
}
.mychart .default-color0.chart-series-line{
    -fx-stroke: #ff1123;
}
.mychart .default-color0.chart-line-symbol{
    -fx-background-color: #ff1123;
    -fx-background-radius: 1px;
    -fx-padding: 1px;

}
.mychart .default-color1.chart-series-line{
    -fx-stroke: #ff1123;
}
.mychart .default-color1.chart-line-symbol{
    -fx-background-color: #ff1123;
    -fx-background-radius: 1px;
    -fx-padding: 1px;

}
.mychart .chart-plot-background {
    -fx-background-color: lightgray;
}
.mychart .chart-vertical-grid-lines {
    -fx-stroke: black;
}
.mychart .chart-horizontal-grid-lines {
    -fx-stroke: black;
}
.mychart .chart-alternative-row-fill {
    -fx-fill: darkgrey;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.mychart .chart-title {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.6em;
}
.mychart1 .chart-series-line{
    -fx-stroke-width: 2px;
}
.mychart1 .default-color0.chart-series-line{
    -fx-stroke: #ff1123;
}
.mychart1 .default-color0.chart-line-symbol{
    -fx-background-color: #ff1123;
    -fx-background-radius: 1px;
    -fx-padding: 1px;

}
.mychart1 .default-color1.chart-series-line{
    -fx-stroke: #ff1123;
}
.mychart1 .default-color1.chart-line-symbol{
    -fx-background-color: #ff1123;
    -fx-background-radius: 1px;
    -fx-padding: 1px;

}
.mychart1 .chart-plot-background {
    -fx-background-color: lightgray;
}
.mychart1 .chart-vertical-grid-lines {
    -fx-stroke: black;
}
.mychart1 .chart-horizontal-grid-lines {
    -fx-stroke: black;
}
.mychart1 .chart-alternative-row-fill {
    -fx-fill:darkgrey;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.mychart1 .chart-title {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.6em;
}
.mychart2 .chart-series-line{
    -fx-stroke-width: 2px;
}
.mychart2 .default-color0.chart-series-line{
    -fx-stroke: #ff1123;
}
.mychart2 .default-color0.chart-line-symbol{
    -fx-background-color: #ff1123;
    -fx-background-radius: 1px;
    -fx-padding: 1px;

}
.mychart2 .default-color1.chart-series-line{
    -fx-stroke: #ff1123;
}
.mychart2 .default-color1.chart-line-symbol{
    -fx-background-color: #ff1123;
    -fx-background-radius: 1px;
    -fx-padding: 1px;

}
.mychart2 .chart-plot-background {
    -fx-background-color: lightgray;
}
.mychart2 .chart-vertical-grid-lines {
    -fx-stroke: black;
}
.mychart2 .chart-horizontal-grid-lines {
    -fx-stroke: black;
}
.mychart2 .chart-alternative-row-fill {
    -fx-fill: darkgrey;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.mychart2 .chart-title {
    -fx-text-fill: #4682b4;
    -fx-font-size: 1.6em;
}

